astroid==2.11.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
dill==0.3.4
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.1
pyaes==1.6.1
pyasn1==0.4.8
pylint==2.13.5
requests==2.27.1
rsa==4.8
telegram==0.0.1
Telethon==1.24.0
tomli==2.0.1
urllib3==1.26.9
wrapt==1.14.0
